{% extends "allauth/layouts/entrance.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Confirm E-mail Address" %}
{% endblock head_title %}
{% block content %}
  <h1 class="mb-3">{% trans "Confirm E-mail Address" %}</h1>
  {% if confirmation %}
    <p>
      {% blocktrans with email=confirmation.email_address.email %}
        Please confirm that <strong>{{ email }}</strong> is an e-mail address for user {{ confirmation.email_address.user }}.
      {% endblocktrans %}
    </p>
    <form method="post"
          action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary mt-3">{% trans "Confirm" %}</button>
      <a href="{% url 'account_login' %}" class="btn btn-outline-primary mt-3">{% trans "Back to Sign In" %}</a>
    </form>
  {% else %}
    {% url 'account_email' as email_url %}
    <p>
      {% blocktrans %}
        This e-mail confirmation link expired or is invalid. Please issue a new e-mail confirmation request.
      {% endblocktrans %}
    </p>
    <div class="mt-3">
      <a href="{{ email_url }}" class="btn btn-primary">{% trans "Request New Confirmation" %}</a>
      <a href="{% url 'account_login' %}" class="btn btn-outline-primary">{% trans "Back to Sign In" %}</a>
    </div>
  {% endif %}
{% endblock content %}
