log:
  level: INFO

entryPoints:
  web:
    address: ":80"

  web-secure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "noreply@squeakyknees.blog"
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

http:
  routers:
    web-router:
      rule: "Host(`squeakyknees.blog`) || Host(`www.squeakyknees.blog`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: django

    web-secure-router:
      rule: "Host(`squeakyknees.blog`) || Host(`www.squeakyknees.blog`)"
      entryPoints:
        - web-secure
      service: django
      tls:
        certResolver: letsencrypt

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true

  services:
    django:
      loadBalancer:
        servers:
          - url: http://web:8000

providers:
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
